
.homeBody{
    /* background-color: #f2f3f4; */
}
.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
ul li a {
    height: 26rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}
 li a:hover{
    opacity: 0.9;

 }
 .content{
    color: #fc8019;
 }